@()

@main("Adventure") {
  <h1>Escape the Maze!</h1>

  <div class="wrapper">
    <div class="item1">
        <h3>History</h3>
        <p id="message-history"></p>
    </div>

    <div class="item2">
        <h3>Situtation</h3>
        <p id="game-messages">Welcome Adventurer! <br/> Can you escape the maze alive?? <br/> Type <b>start</b> to begin...</p>
    </div>

    <div id="character-stats" class="item3">
        <h3>Character</h3>
        <p id="character-health-string">Health: 10</p>
    </div>

    <div id="items" class="item4">
        <h3>Items</h3>
        <p id="items-list"></p>
    </div>

    <div id="helper-text" class="item5">
        <h3>Commands</h3>
        <ul>
            <li>north (n)</li>
            <li>south (s)</li>
            <li>east (e)</li>
            <li>west (w)</li>
            <li>openbox (o)</li>
            <li>continue (c)</li>
            <li>hint (h)</li>
        </ul>
    </div>
    
    <div id="input-text" class="item6">
        <form onsubmit="buttonSubmit(); return false">
            <label for="message-input">Action:</label>
            <textarea id="message-input" ></textarea>
            <button id="send-button">Send</button>
        </form>
    </div>

    <div class="item7">
        <h3>In Game Time</h3>
        <p id="in-game-time"></p>
    </div>
  </div>
    

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <script>
    var webSocket;
    var messageInput;

    // initialize the WebSocket connection.
    // note that i hard-code the server-side URL here.
    function init() {
        webSocket = new WebSocket("ws://localhost:9000/ws");
        webSocket.onopen = onOpen;
        webSocket.onclose = onClose;
        webSocket.onmessage = onMessage;
        webSocket.onerror = onError;
        $("#message-input").focus();  // put initial input focus in the textarea
    }

    // debug code
    function onOpen(event) {
        consoleLog("CONNECTED");
    }

    // debug code
    function onClose(event) {
        consoleLog("DISCONNECTED");
        appendClientMessageToView("DISCONNECTED - refresh page to start again");
    }

    // debug code
    function onError(event) {
        consoleLog("ERROR: " + event.data);
        consoleLog("ERROR: " + JSON.stringify(event));
    }

    // this is where we receive a message from the server over
    // the WebSocket connection
    function onMessage(event) {
        let receivedData = JSON.parse(event.data);
        // get the text from the "body" field of the json we
        // receive from the server
        if (receivedData.history){
            appendServerMessageToView(receivedData.history);    
        }
        if (receivedData.adventure_text){
            setAdventureTextToServerMessage(receivedData.adventure_text);    
        }
        if (receivedData.time){
            updateInGameTimeFromServerMessage(receivedData.time);    
        }
        if (receivedData.items){
            updateItems(receivedData.items);
        }
        if (receivedData.characterHP){
            updateCharacterHP(receivedData.characterHP);
        }
    }

    // append “client” messages to the `message-content` div above
    function appendClientMessageToView(message) {
        $("#message-history").append("<span>" + "> " + message + "<br /></span>");
    }

    // append “server” messages to the `message-content` div above
    function appendServerMessageToView(message) {
        $("#message-history").append("<span>" + "> " + message + "<br /></span>");
    }

    // set the "server" message for the adventure text to the 'game-messages' div above
    function setAdventureTextToServerMessage(message) {
        $("#game-messages").text(message);
    }

    function updateItems(messgae){
        $("#items-list").text(message);
    }

    function updateCharacterHP(message){
        $("#character-health-string").text(message);
    }

    function updateInGameTimeFromServerMessage(message) {
        var timeInGame = parseInt(message, 10);
        var timeInDays = Math.floor(timeInGame/24);
        var timeInHours = timeInGame % 24;
        
        var timeText = "";
        //hours
        if (timeInHours == 0){
            timeText = "";
        }else if (timeInHours == 1){
            timeText = timeInHours + " hour";
        }else{
            timeText = timeInHours + " hours";
        }

        //seperation
        if (timeInHours == 0 || timeInDays == 0){
            
        }else{
            timeText += ", "
        }

        //days
        if (timeInDays > 1){
            timeText += timeInDays + " days";
        }else if (timeInDays == 1){
            timeText += timeInDays + " day";
        }
        $("#in-game-time").text(timeText);
    }

    // debug; log messages to the browser console
    function consoleLog(message) {
        console.log("New message: ", message);
    }

    // when the window is loaded, call the `init` function
    window.addEventListener("load", init, false);

    function buttonSubmit(){
      consoleLog(messageInput);
      getMessageAndSendToServer();
      // put focus back in the textarea
      $("#message-input").focus();
    }

    // also, act just like the Send button was clicked if the 
    // user presses the <enter> key while in the textarea
    $(window).on("keydown", function (e) {
        if (e.which == 13) {
            getMessageAndSendToServer();
            return false;
        }
    });

    // 1. get our message from the textarea.
    // 2. create a json version of the message.
    // 3. send the message to the server.
    function getMessageAndSendToServer() {

        // get the text from the textarea
        messageInput = $("#message-input").val();

        // clear the textarea
        $("#message-input").val("");

        //check for valid messages only and if successful continue
        if (!validInputMessage(messageInput)){
            return false;
        }

        // create the message as json
        let jsonMessage = {
            message: messageInput
        };

        // send our json message to the server
        sendToServer(jsonMessage);
    }


    // check if the action message is valid
    function validInputMessage(messageInput){
        // if the trimmed message was blank, return
        if ($.trim(messageInput) == "") {
            return false;
        }
        
        //only allow key actions
        if  ($.trim(messageInput) == "s"){
            return true
        }

        return true
    }

    // send the data to the server using the WebSocket
    function sendToServer(jsonMessage) {
        if(webSocket.readyState == WebSocket.OPEN) {
            webSocket.send(JSON.stringify(jsonMessage));
        } else {
            consoleLog("Could not send data. Websocket is not open.");
        }
    }

  </script>

}
